@page
@model WebApp.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <span class="anchor" id="formChangePassword"></span>
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Change Password</h3>
                        </div>
                        <div class="card-body">
                            <form method="post">

                                <div class="form-group">
                                    <label class="form-label" asp-for="_ChangePasswordDTO.OldPassword">Old password:*</label><br />
                                    <input class="form-control" type="password" asp-for="_ChangePasswordDTO.OldPassword" />
                                    <span asp-validation-for="_ChangePasswordDTO.OldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="_ChangePasswordDTO.NewPassword">New password:*</label><br />
                                    <input class="form-control" type="password" asp-for="_ChangePasswordDTO.NewPassword" />
                                    <span asp-validation-for="_ChangePasswordDTO.NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="_ChangePasswordDTO.ConfirmPassword">Confirm password:*</label><br />
                                    <input class="form-control" type="password" asp-for="_ChangePasswordDTO.ConfirmPassword" />
                                    <span asp-validation-for="_ChangePasswordDTO.ConfirmPassword" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (Model.ResultMessage != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@Model.ResultMessage");
        };
    </script>
}
